<% flash.each do |type, message| %>
   <p class="<%=type%>"><%= type %>: <%= message %></p>
<% end %>
<h1>Artist Requests <a href="/users/<%= @user.id %>/requests/new">(+)</a></h1>
<% @requests.each do |request| %>
  <a href="/users/<%= @user.id %>/requests/<%= request.id %>">
    <%= request.name %>
  </a>
<% end %>
