<!-- You could also put this in the application layout in case you need to display flash messages for requests that involve moving from one controller to the other. It's working fine in your application as is, but you may want to consider this as your application changes -->
<% flash.each do |type, message| %>
   <p class="<%=type%>"><%= type %>: <%= message %></p>
<% end %>
<h1>Artist Requests <a href="/users/<%= @user.id %>/requests/new">(+)</a></h1>
<% @requests.each do |request| %>
  <a href="/users/<%= @user.id %>/requests/<%= request.id %>">
    <%= request.name %>
  </a>
<% end %>
